<!-- 头部筛选 -->
<div class="form-inline filter">
 <div class="form-group">
        <label for="materiel" class="control-label">选择物料</label>
        <select id="materiel" class="form-control" required="required"></select>
    </div>
    <div class="form-group">
        <label for="" class="control-label">数量</label>
        <input id="number" class="numbers form-control" value="1" min="1" type="number"/>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-primary js-popAdd">添加</button>
    </div>
</div>
<!-- 主体部分 -->
<table class="table table-bordered table-hover js-table table1">
    <tbody class="js-editWuLiao">
    </tbody>
</table>