<tr>
    <td class="text-center">1</td>
    <td>手电筒</td>
    <td>大禹股份有限公司</td>
    <td>12</td>
    <td>2.0</td>
    <td>XLM</td>
    <td>12.00</td>
    <td class="text-center">
        <div class="btn-group more">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多</button>
            <ul class="dropdown-menu">
                <li><a class="underline">删除</a></li>
            </ul>
        </div>
    </td>
</tr>