    <div class="container-fluid">


        <div class="row header js-title">
            <h4>公告详情</h4>
                <div class="btns text-right">
                    {{if infoStatus === 1}}
                    <button class="layui-btn js-agree km-ripple btn btn-primary">同意</button>
                    <button class="layui-btn js-refuse km-ripple btn btn-primary">拒绝</button>
                    {{/if}}
                <button class="btn btn-default layui-btn layui-btn-blank js-preview">预览</button>
                </div>
            </div>

            <div class="infos-detail js-main">
                    <table>
                        <tbody>
                            {{if infoStatus === 4 || infoStatus === 2 ||  infoStatus === 8}}
                            <tr>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">审核状态</td>
                                {{if infoStatus === 4 || infoStatus === 8}}
                                <td class="col-lg-3 col-md-3 col-sm-3 value">已通过</td>
                                {{/if}}
                                {{if infoStatus === 2}}
                                <td class="col-lg-3 col-md-3 col-sm-3 value">未通过</td>
                                {{/if}}
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">理由</td>
                                {{if approvalOpinition}}
                                <td class="col-lg-3 col-md-3 col-sm-3 value">{{approvalOpinition}}</td>
                                {{else}}
                                <td class="col-lg-3 col-md-3 col-sm-3 value">--</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">标题</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 value js-title">{{infoTitle}}</td>
                                {{/if}}
                            </tr>
                            <tr>
                                
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">摘要</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 value js-desc">{{infoSummary}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center">正文</td>
                                <td class="col-lg-3 col-md-3 col-sm-3 value js-article article">{{infoContent}}</td>
                                <td class="col-lg-1 col-md-1 col-sm-1 text-center"></td>
                                <td class="col-lg-3 col-md-3 col-sm-3 value"></td>
                            </tr>
                            {{else}}
                            <tr>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">标题</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 value js-title">{{infoTitle}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">摘要</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 value js-desc">{{infoSummary}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">正文</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 value js-article article">{{infoContent}}</td>
                                </tr>
                            {{/if}}
                        </tbody>
                    </table>
                </div>

                <div class="infos-detail js-main">
                        <table>
                            <tbody>
                                <tr>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">发起人</td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 value">{{infoCreatorName || '--'}}</td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">类型</td>
                                    {{if infoUrgency === 0}}
                                    <td class="col-lg-3 col-md-3 col-sm-3 value">一般</td>
                                    {{else}}
                                    <td class="col-lg-3 col-md-3 col-sm-3 value">紧急</td>
                                    {{/if}}
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center">发布到</td>
                                    <td class="value">{{visibilityScope || '--'}}</td>
                                </tr>
                                <tr>
                                    
                                        <td class="col-lg-1 col-md-1 col-sm-1 text-center">发布范围</td>
                                        {{if infoScopeIsAll === 1}}
                                        <td class="col-lg-3 col-md-3 col-sm-3 value">公开，全部可见</td>
                                        {{else}}
                                        <td class="col-lg-3 col-md-3 col-sm-3 value">{{infoScope}}
                                            <a class="fuck-more underline js-show-more"><span></span><i class="icon"></i></a>
                                        </td>
                                        {{/if}}
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center"></td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 value"></td>
                                    <td class="col-lg-1 col-md-1 col-sm-1 text-center"></td>
                                    <td class="col-lg-3 col-md-3 col-sm-3 value"></td>
                                </tr>
                          
                            </tbody>
                        </table>
                    </div> 


            </div>




    