<div class="row header">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h4 style='margin:0px;'>
            {{if riAuditStatus === 0}}
            <span>无需审核-未提交</span> {{else if riAuditStatus === 1}}
            <span>待审核-已提交</span> {{else if riAuditStatus === 2}}
            <span>审核结果-已通过</span> {{else if riAuditStatus === 3}}
            <span>审核结果-已拒绝</span> {{else}}
            <span>无需审核-已归还</span> {{/if}}
        </h4>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-right">
        <button class="btn btn-default" id='fh' style='margin-top:12px;'>返回</button>
    </div>
</div>

<h4 style='font-size:14px;' class='blod'>车辆信息</h4>
<div class="infos-detail">
    <table>
        <tbody>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">车牌号码：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciNumber }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">所属部门：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciDepartment }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">购置日期：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciBuyDate | dateFormat: 'yyyy-MM-dd' }}</td>  
            </tr>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">发动机号：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciEngineNumber }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">车辆品牌：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciBrand}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">车辆型号：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciModel}}</td>  
            </tr>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">车辆颜色：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciColor }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">车辆排量：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciDisplacement}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">变速箱类型：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciBoxTypeName}}</td>  
            </tr>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">荷载人数：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciLoadNumber }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">车主(司机)姓名：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciOwnerName}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">车主(司机)手机号：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciOwnerPhone}}</td>  
            </tr>
        </tbody>
    </table>
</div>

<hr>
<h4 style="font-size:14px;" class='blod'>预约信息</h4>
<div class="infos-detail">
    <table>
        <tbody>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">申请人：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{riUserName }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">所属部门：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ciDepartment }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">预约时间：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{riUseStart}}</td>  
            </tr>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">申请时间：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{createdDtLong }}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center"></td>
                <td class="col-lg-3 col-md-3 col-sm-3 value"></td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center"></td>
                <td class="col-lg-3 col-md-3 col-sm-3 value"></td>  
            </tr>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">申请理由：</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value" colspan='5'>{{riUsePurpose }}</td> 
            </tr>
        </tbody>
    </table>
</div>

