<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style='margin:0px; padding:0;'>
{{each items as i}}
<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    <div class="panel panel-primary">
        <div class="panel-heading text-center" style="width:100%">{{i.ciNumber }}</div>
        <div class="panel-body">
            <p>所属部门：{{i.ciDepartment }}</p>
            <p>车辆品牌：{{i.ciBrand }}</p>
            <p>车辆型号：{{i.ciModel }}</p>
            <p>车辆颜色：{{i.ciColor }}</p>
            <p>车辆排量：{{i.ciDisplacement }}</p>
            <p>荷载人数：{{i.ciLoadNumber }}</p>
            <button type="button" class="btn btn-primary" id='order-cl' data-id={{i.id}} style="width:100%">预约</button>
        </div>
    </div>
</div>
{{/each}}
</div>