<div class="preview infos-detail">
    <table>
        <tbody>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">标题111</td>
                <td class="col-lg-5 col-md-5 col-sm-5 value">{{items.title}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">摘要</td>
                <td class="col-lg-5 col-md-5 col-sm-5 value">{{items.summary}}</td>
            </tr>
            <tr>
                <td class="text-center">正文</td>
                <td class="value" colspan="3">
                    <div class="article"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
