<div class="form-inline js-materiel-list h200">
    {{each items as item index}} {{if item.isChecked == 1}}
    <div class="form-group add">
        <input id="{{item.matTypeId}}" type="checkbox" class="warn-btn" data-index="{{index}}" matname="{{item.matName}}" spec="{{item.spec}}"
            mattypecode="{{item.matTypeCode}}" checked="checked">
        <span>{{item.matName}}</span>
    </div>
    {{else if item.isChecked == 0}}
    <div class="form-group add">
        <input id="{{item.matTypeId}}" type="checkbox" class="warn-btn" data-index="{{index}}" matname="{{item.matName}}" spec="{{item.spec}}"
            mattypecode="{{item.matTypeCode}}">
        <span>{{item.matName}}</span>
    </div>
    {{/if}} {{/each}}
</div>