{{each items as item index}}
<tr>
    {{ if index+1 < 10}}
    <td class='orderNumber text-center' id='{{item.id}}' matSpec='{{item.matSpec}}' matTypeCode='{{item.matTypeCode}}' matTypeId='{{item.matTypeId}}'>0{{index+1}}</td>
    {{ else }}
    <td class='orderNumber text-center' id='{{item.id}}' matSpec='{{item.matSpec}}' matTypeCode='{{item.matTypeCode}}' matTypeId='{{item.matTypeId}}'>{{index+1}}</td>
    {{ /if }}
    <td class='matName'>{{item.matName}}</td>
    <td>{{item.matSpec}}</td>
    <!--<td>55</td>-->
    <td class='buyCount'>{{item.matNeetNum}}</td>
    <td>{{item.matRealNum}}</td>
    <td><input type="number" class="numbers" value="0" min="0" max="{{item.matNeetNum-item.matRealNum}}" ids="{{item.id}}"></td>
</tr>
{{/each}}