<div class="form-group">
    <label><b>基础信息 </b></label>
</div>

<div class="wuliao padding-L padding-R form-group">
    <div class="margin-bt">
        <label id="choiseOrder" class='add' for="allocationList">
            <span class="require"></span>
            <span><b>选择用料申请单:</b></span>&nbsp;
            <span class="glyphicon glyphicon-plus js-select-materiel"></span>
        </label>
        <input type="text" class="form-control" id="allocationList" value="" placeholder="" maxlength="50" readonly>
    </div>
</div>
<div class="form-group">
    <label for="exampleInputEmail1">调拨理由 </label>
    <textarea type="email" rows="4" class="form-control" id="reason" placeholder="请输入调拨理由" maxlength="200">{{items.infoSummary}}</textarea>
    <div class="conttask text-right"></div>
</div>

<div class="form-group">
    <label for="exampleInputFile">上传图片</label>
    <div class="shangchuan"></div>
</div>
