<div class="h350">
    <table class="table table-bordered table-hover table1">
        <tr>
            <td class="valignM">
                <div>名称：{{items[0].name}}</div>
                <div>规格：{{items[0].guige}}</div>
                <div>型号：{{items[0].xinghao}}</div>
            </td>
            <td class="valignM">所需数量：X{{items[0].number}} </td>
            <td class="valignM">
                {{each items as item itemIndex}}
                <div>选择供应商：{{item.supplyComName}}<span class="pl20">数量：{{item.buyCount}}</span></div>
                {{/each}}
            </td>
        </tr>
    </table>
</div>
