<!--<div class="form-group clearfix">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
        <h5>
            <b>订单来源</b>
        </h5>
        <!-- {{if items.orderType == 1}}
        <div>需求订单</div>
        {{else}} -->
        <!-- <div>计划采购</div> -->
        <!-- {{/if}} -->
    <!-- </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
        <h5>
            <b>申请人</b>
        </h5>
        {{if items.planEmpName}}
        <div>{{items.planEmpName}}</div>
        {{else}}
        <div>--</div>
        {{/if}}
    </div> -->
    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
        <h5>
            <b>需求编号</b>
        </h5>
        {{if items.applyNo}}
        <div>{{items.applyNo}}</div>
        {{else}}
        <div>--</div>
        {{/if}}
    </div> -->
<!-- </div>
<div class="form-group clearfix">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
        <h5>
            <b>所属部门</b>
        </h5>
        {{if items.taskDept}}
        <div>{{items.taskDept}}</div>
        {{else}}
        <div>--</div>
        {{/if}}
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
        <h5>
            <b>申请日期</b>
        </h5>
        {{if items.taskDate}}
        <div>{{items.taskDate | dateFormat:'yyyy-MM-dd'}}</div>
        {{else}}
        <div>--</div>
        {{/if}}
    </div>
</div> -->

<!-- <div class="form-group clearfix">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
        {{if items.taskOpinion}}
        <h5>
            <b>申请理由</b>
        </h5>
        <div class="wrap ">{{items.taskOpinion}}</div>
        {{/if}}
    </div>
</div>
<div class="form-group clearfix">
     <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
        <h5>
            <b>审核日期</b>
        </h5>
        {{if items.approveDate}}
        <div>{{items.approveDate | dateFormat:'yyyy-MM-dd hh:mm:ss'}}</div>
        {{else}}
        <div>--</div>
        {{/if}}
    </div> -->
    <!-- <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 p0">
            <h5>
                <b>用料审核人</b>
            </h5>
            {{if items.buyerEmpName}}
            <div>{{items.buyerEmpName}}</div>
            {{else}}
            <div>--</div>
            {{/if}}
        </div> 
</div>-->

<table>
        <tbody>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">订单来源</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">计划采购</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">申请人</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">
                    {{if items.planEmpName}}
                        {{items.planEmpName}}
                    {{else}}
                        --
                    {{/if}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">所属部门</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">
                    {{if items.taskDept}}
                        {{items.taskDept}}
                    {{else}}
                        --
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td class="text-center">申请日期</td>
                <td class="value">
                    {{if items.taskDate}}
                        {{items.taskDate | dateFormat:'yyyy-MM-dd'}}
                    {{else}}
                        --
                    {{/if}}</td>
                <td class="text-center">申请理由</td>
                <td class="value" colspan="3">
                    {{if items.taskOpinion}}
                        {{items.taskOpinion}}
                    {{else}}
                        暂无
                    {{/if}}
                </td>
            </tr>
        </tbody>
    </table>
