<div class="form filter">
    <!-- <form class="col-xs-9 col-sm-9 col-md-9 col-lg-9"> -->
        <div class="form-group">
            <label for="name">
                <span class="require"></span>名称
            </label>
            <input id="name" type="text" class="form-control" maxlength="20" placeholder="请输入20个字以内">
        </div>
        <div class="form-group">
            <label for="number">
                <span class="require"></span>纳税人识别号
            </label>
            <input id="number" type="text" class="form-control" maxlength="20" placeholder="请输入20个字以内">
        </div>
        <div class="form-group">
            <label for="address">
                地址
            </label>
            <input id="address" type="text" class="form-control" maxlength="20" placeholder="请输入20个字以内">
        </div>
        <div class="form-group">
            <label for="phone">
                电话
            </label>
            <input id="phone" type="text" class="form-control" maxlength="20" placeholder="请输入20个字以内">
        </div>
        <div class="form-group">
            <label for="money">
                <span class="require"></span>发票金额
            </label>
            <input id="money" type="text" class="form-control" maxlength="20" placeholder="请输入20个字以内">
        </div>
    <!-- </form> -->
</div>
