<div class="popupP" id='modal-dialog-top'>
    <div class="modal-dialog modal-{{size}} modal-dialog-top" >
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="exampleModalLabel">{{title}}</h4>
            </div>
            <div class="modal-body1">{{# content}}</div>
            <div class="modal-footer">
                <a class="btn btn-default-small btn-primary" data-dismiss="modal">取消</a>
                <a class="btn btn-primary js-modal-sure-small" data-dismiss="modal">确定</a>
               
            </div>
        </div>
    </div>
</div>
