<!-- <div class="form-group">
    <label for="taskName"><span class="require"></span>任务名称</label>
    <input type="email" class="form-control" maxlength="30" id="taskName" placeholder="">
  </div> -->
<div class="form-group">
    <div class="row">
        <div class="col-md-3 col-lg-3">
            <label>
                <span class="require"></span>开始时间</label>
            <div class="input-group date form_date1" data-date="" data-link-field="dtp_input2">
                <input id="dateStart" class="form-control" size="16" type="text" value="" readonly data-date-format="yyyy-mm-dd hh:ii">
                <span class="input-group-addon js-date-clean">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </div>
        </div>

        <div class="col-md-3 col-lg-3">
            <label>
                <span class="require"></span>截止时间</label>
            <div class="input-group date form_date2" data-date="" data-link-field="dtp_input2" data-date-format="yyyy-mm-dd hh:ii">
                <input id="dateEnd" class="form-control" size="16" type="text" value="" readonly>
                <span class="input-group-addon js-date-clean">
                    <span class="glyphicon glyphicon-remove"></span>
                </span>
            </div>
        </div>
    </div>
</div>
<div class='form-group showBox'>
    <div class="form-group">
        <label for="">
            <input class="inputCheck" type="checkbox">重复执行
        </label>
        <span class="disMethod">
            <label class="radio-inline">
        
                <input type="radio" class="dayInput" value="option1" name="sex">每日
            </label>
        
            <label class="radio-inline">
        
                <input class="weekInput" type="radio" value="option2" name="sex">每周
            </label>
        
            <label class="radio-inline">
        
                <input class="monthInput" type="radio" value="option3" name="sex">每月
            </label>
        </span>
    </div>
   
    <div class='form-group group-time'>
        <div class="form-group weekBox">
           
        </div>
        <div class="form-group monthBox">
            年份：<select id="selectYear" style="width:80px"></select>
            每月：<input type="number" class='begMtime js-num' style="width:80px" oninput="if(value.length>2)value=value.slice(0,2);if(value>31)value=31" onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode) ) )">——<input type="number" class="endMtime js-num" style="width:80px" oninput="if(value.length>2)value=value.slice(0,2);if(value>31)value=31"  onkeypress="return( /[\d]/.test(String.fromCharCode(event.keyCode) ) )">&nbsp;&nbsp;日
        </div>
        <div class="dayBox">
            <div class="row monthWrap form-group">
                <div class="col-md-3 col-lg-3">
                    <label>
                        <span class="require"></span>开始日期</label>
                    <div class="input-group date form_date1 " data-date="" data-link-field="dtp_input2">
                        <input id="dayStart" class="form-control" size="16" type="text" value="" readonly data-date-format="yyyy-mm-dd hh:ii">
                        <span class="input-group-addon js-date-clean">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                    </div>
                </div>
            
                <div class="col-md-3 col-lg-3">
                    <label>
                        <span class="require"></span>截止日期</label>
                    <div class="input-group date form_date2 " data-date="" data-link-field="dtp_input2" data-date-format="yyyy-mm-dd">
                        <input id="dayEnd" class="form-control" size="16" type="text" value="" readonly>
                        <span class="input-group-addon js-date-clean">
                            <span class="glyphicon glyphicon-remove"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col-md-3 col-lg-3">
                    <label for="start-time">开始时间:</label>
                    <select id="start-time" class="form-control"></select>
                </div>
                <div class="col-md-3 col-lg-3">
                    <label for="end-time">截止时间:</label>
                    <select id="end-time" class="form-control"></select>
                </div>
            </div>
        </div>
    </div>
</div>