<div class="form-group">
    <label for="type"><span class="require"></span>任务类型</label>
    <select id="type" class="form-control js-type" required="required">
        {{if type}}
        <option value="2">安保类</option>
        {{else}}
        <option value="2">检验类</option>
        {{/if}}
    </select>
</div>
<div class="form-group type-range">
    <label for="type"><span class="require"></span>任务专业</label>
    <select id="range" class="form-control js-range" required="required">
    </select>
</div>
<div class="form-group ad-hidden type-plan">
    <label for="type"><span class="require"></span>任务模板</label>
    <select id="check" class="form-control js-plan" required="required">
    </select>
</div>
<div class="form-group  link-con ad-hidden">
    <label for="type"><span class="require"></span>任务范围</label>
    <button type="button" class="btn btn-default js-set">配置</button>
    <div class="link-set ad-hidden">
    </div>
</div>
<div class="form-group row link-con">
    <div class="col-lg-6 link-set-word" ></div>
</div>
<style type="text/css">
    .link-con{
        position: relative;
    }
    .link-set{
        position: absolute;
        background: #fff;
        padding:10px;
        left: 100%;
        top: 35px;
        /*width: 45%;*/
        border:1px solid #ccc;
        border-radius: 4px;
        z-index: 999;
    }
    .ad-hidden{
        display: none;
    }
    .link-set-word{
        /*color: #999;*/
        line-height: 22px;
    }
    .js-set{
         position: absolute;
        top: 13px;
        right: -25px;
    }
</style>