
    <div class="preview infos-detail">
        <div style="margin-bottom:10px;">
            <div class="title"  style="font-size:14px;margin-bottom:6px;">标题</div>
            <div style="font-size:16px;margin-bottom:6px;word-wrap: break-word;word-break: break-all;">{{items.infoTitle}}</div>
        </div>
        <div style="margin-bottom:10px;">
            <div class="sum"  style="font-size:14px;margin-bottom:6px;">摘要</div>
            <div  style="font-size:16px;margin-bottom:6px;word-wrap: break-word;word-break: break-all;">{{items.infoSummary}}</div>
        </div>
        <div style="margin-bottom:10px;">
            <div class="title" style="font-size:14px;margin-bottom:6px;">正文</div>  
            <div style="font-size:16px;margin-bottom:6px;word-wrap: break-word;word-break: break-all;" class="cont js-article">{{items.infoContent}}</div>
        </div>
    </div>
