<div class="col-xs-12 col-sm-11 col-md-9 col-lg-7 pad-left">
    <div class="form-group">
        <label for="exampleInputEmail1"><span class="require"></span>费项名称：</label>
        <input type="text" class="form-control" id="costName" placeholder="" maxlength="20">
        <div id="first-div" class="show-inline"></div>
    </div>
    <div class="form-group">
        <label for="name">描述</label>
        <textarea class="form-control counter-textarea desc" id ="confereDesc" rows="3" maxlength="300"></textarea>
        <div class="counttask text-right"></div>
    </div>
    <div>
        <button type="button" class="btn btn-primary js-save">保存</button>
        <!-- <button type="button" class="btn btn-primary js-save-detail">保存并关联任务</button> -->
        <button type="button" class="btn btn-default js-cancel">取消</button>
    </div>
</div>