<div class="col-xs-12 col-sm-11 col-md-9 col-lg-7 pad-left">
    <div class="form-group">
        <label for="exampleInputEmail1"><span class="require"></span>科目名称：</label>
        {{if item.levels ==1 && item.edit ||!item.edit && !item.levels}}
        <input type="text" class="form-control" id="subName" placeholder="" maxlength="20">
        {{/if}}
        {{if !item.edit || item.levels ==2 || item.levels ==3 || item.edit && item.levels ==2 }}
         <div id="first-div" class="show-inline"></div>
        {{/if}}

    </div>
    {{if item.levels==1 && !item.edit || item.levels==2 || item.edit && item.levels==3}}
    <div class="form-group">
        <label for="exampleInputEmail1"><span class="require"></span>二级科目名称：</label>
        {{if item.levels==1 || item.edit && item.levels ==2}}
        <input type="text" class="form-control" id="subNameSecond" placeholder="" maxlength="20">
        {{/if}}
        {{if item.edit && item.levels ==1 || item.levels==2 || item.levels ==3}}
             <div id="second-div" class="show-inline"></div>
        {{/if}}
    </div>
    {{/if}}
    {{if item.levels == 3 && item.edit  || item.levels==2 && !item.edit}}
    <div class="form-group">
        <label for="exampleInputEmail1"><span class="require"></span>三级科目名称：</label>
        <input type="text" class="form-control" id="subNameThird" placeholder="" maxlength="20">
    </div>
    {{/if}}
    <div class="form-group">
        <label for="name">描述</label>
        <textarea class="form-control counter-textarea desc" id ="confereDesc" rows="3" maxlength="200"></textarea>
        <div class="counttask text-right"></div>
    </div>
    <div>
        <button type="button" class="btn btn-primary js-save">保存</button>
        <!-- <button type="button" class="btn btn-primary js-save-detail">保存并关联任务</button> -->
        <button type="button" class="btn btn-default js-cancel">取消</button>
    </div>
</div>