<div class="div-btm-inner w882">
    <div class="form-group">
        <label for="name">描述</label>
        <textarea class="form-control counter-textarea desc" id ="confereDesc" rows="3" maxlength="200"></textarea>
        <div class="counttask text-right"></div>
    </div>
    <div>
        <button type="button" class="btn btn-primary js-save">保存</button>
        <button type="button" class="btn btn-primary js-save-detail">保存并关联数据</button>
        <button type="button" class="btn btn-default js-cancel">取消</button>
    </div>
</div>