{{each items as item}}
<tr>
    <td class="text-center">
        {{if item.num<10}}
        0{{item.num}}
        {{else}}
        {{item.num}}
        {{/if}}
    </td>
    <td>{{item.name}}</td>
    <td><div class="text-ellipsis" style="max-width: 400px">{{item.description}}</div></td>
    <td>{{item.professionalCategory}}</td>
    <td>{{item.operator}}</td>
    <td>{{item.updateTime | dateFormat:'yyyy-MM-dd hh:mm'}}</td>
    <td class="text-center act">
        <div class="btn-group more">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多<span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li>
                    <span><a class="underline" data-id="{{item.id}}" href="pages/scheme/set-scheme.html?id={{item.id}}">配置方案</a></span>
                </li>
                <li>
                    <span><a class="js-del underline" href="javascript:;" data-id="{{item.id}}">删除</a></span>
                </li>
            </ul>
        </div>
    </td>
</tr>
{{/each}}
