<div class="row header">
    <h4>{{items.title}}</h4>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6">
        <form id="form">
            <div class="form-group clearfix">
                <label for="pcName"><span class="require"></span>任务专业名称</label>
                <input type="text" id="pcName" class="form-control" name="pcName" value="{{items.pcName}}"
                       maxlength="10">
            </div>
            <div class="form-group">
                <label for="pcId">
                    <span class="require"></span>任务类型</label>
                <select id="pcId" class="select-pc form-control" name="pcId">
                   
                </select>
            </div>
            <div class="form-group clearfix">
                <input type="text" value="" hidden name="asName" id="asName">
                <label for="ul-type"><span class="require"></span>专业范围</label>
                <ul class="form-group clearfix ul-type" id="ul-type">
                </ul>
            </div>
            <!-- <div class="form-group clearfix">
                <label for="ul-box">选择icon <span
                        style="color:#8c8c8c;font-size: 12px;">选择的icon后将显示在App端品质检验首页</span></label>
                <ul class="ul-box clearfix" id="ul-box">
                </ul>
            </div> -->
            <div class="form-group clearfix">
                <label for="pcDesc">描述</label>
                <div class="textarea">
                    <textarea id="pcDesc" rows="4" class="form-control js-textarea" name="pcDesc" maxlength="200">{{items.pcDesc}}</textarea>
                    <div class="border"></div>
                    <div class="number js-count"></div>
                </div>
            </div>
            <div class="form-group">
                <a class="btn btn-primary js-save">保存</a>
                <a class="btn btn-default js-cancel">取消</a>
            </div>
        </form>
    </div>
</div>
