<!-- <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>名称：</p>
    <p class="customer-detail-title">{{prName || '　'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>手机号：</p>
    <p class="customer-detail-title">{{prPhoneFirst || '　'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>手机号1：</p>
    <p class="customer-detail-title">{{prPhoneSecond || '　'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>邮箱：</p>
    <p class="customer-detail-title">{{prEmail || '　'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>性别：</p>
    <p class="customer-detail-title">{{prSex === 1 ? '男' : '女'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>出生日期：</p>
    <p class="customer-detail-title">{{prBirth | dateFormat:'yyyy-MM-dd'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>类型：</p>
    <p class="customer-detail-title">{{ctName || '　'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>级别：</p>
    <p class="customer-detail-title">{{clName || '　'}}</p>
</div>
<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
    <p>部门：</p>
    <p class="customer-detail-title">{{deptName || '　'}}</p>
</div> -->
<div class="infos-detail">
    <table>
        <tbody>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">名称</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{prName || '　'}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">手机号</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{prPhoneFirst || '　'}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">手机号1</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{prPhoneSecond || '　'}}</td>
            </tr>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">邮箱</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{prEmail || '　'}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">性别</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{prSex === 1 ? '男' : '女'}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">出生日期</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{prBirth | dateFormat:'yyyy-MM-dd'}}</td>
            </tr>
            <tr>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">类型</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{ctName || '　'}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">级别</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{clName || '　'}}</td>
                <td class="col-lg-1 col-md-1 col-sm-1 text-center">部门</td>
                <td class="col-lg-3 col-md-3 col-sm-3 value">{{deptName || '　'}}</td>
            </tr>
        </tbody>
    </table>
</div>