<dl>
    <dt>
        <h3 class="wrap-word thdText">{{smName}}</h3>
        <div class="meta">结束时间：{{smEndTime}}</div>
    </dt>
    <dd class="detail-box">
        {{each surveyQuestionVOs as item}}
        <div class="item">
            <h4 class="wrap-word thdText" style="font-size: 12px">
                第{{item.sqNo}}题：{{item.sqTopic}}
                <span class="tip-txt">
                    {{if item.sqType===0}} (单选) {{else if item.sqType===1}} (多选) {{/if}}
                </span>
            </h4>
            {{if item.sqType===2}}
            <div class="form-posi">
                <textarea class="form-control" rows="6" disabled="disabled">
                </textarea>
                <div class="list-posi">
                    <span id="text-count2" value="">0</span>/200
                </div>
            </div>

            {{else}}
            <ul class="q-list">
                {{each item.newContent as data}}
                <li class="wrap-word">
                        {{if item.sqType===0}} 
                        <input type="radio" disabled>
                        {{else if item.sqType===1}} 
                        <input type="checkbox" disabled>
                        {{/if}}
                    <!-- <span class="star">·</span> -->
                    <span class=" text">{{data}}</span>
                </li>
                {{/each}}
            </ul>
            {{/if}}
        </div>

        {{/each}}
    </dd>
</dl>
<style>
    .star {
        font-size: 20px;
        color: #666;
        padding-bottom: 0px;
        position: absolute;
        top: 0px;
        left: -20px;
    }
    .text {
        font-size: 12px;
        color: #666;
        /* font-weight: 600; */
        position: absolute;
        top: 1px;
        left: 20px;
    }

    .thdText {
        font-size: 14px;
        font-weight: 700;
        color: #666;
    }

    .meta {
        color: #666;
    }

    .detail-box {
        padding-top: 10px;
    }

    .wrap-word {
        line-height: 18px;
        word-wrap: break-word;
        position: relative;
    }

    .tip-txt {
        font-size: 14px;
    }

    .form-posi {
        position: relative;
    }

    .list-posi {
        position: absolute;
        bottom: 5px;
        right: 10px;
    }

    .q-list {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .q-list {
        padding: 0 0 10px 0px;
    }

    .q-list li {
        padding-bottom: 5px;
    }
</style>