<div class="row header">
    <h4>{{type}}{{title}}</h4>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-11 col-md-9 col-lg-7">
        <div class="form-group">
            <label for="name"><span class="require"></span>{{title}}名称</label>
            <input type="text" id="name" class="form-control" maxlength="20" value="{{item && (item.typeName || item.levelName)}}">
        </div>
        <div class="form-group">
            <label for="desc">描述</label>
            <textarea id="desc" rows="4" class="form-control" maxlength="200">{{item && (item.typeDesc || item.levelDesc)}}</textarea>
            <div class="text-right js-count">0/200</div>
        </div>
        <button class="btn btn-primary js-save">保存</button>
        <button class="btn btn-default js-cancel">取消</button>
    </div>
</div>