<table class="table table-bordered table-hover table-striped">
    <thead>
        <tr>
            <th class="text-center">费用名称</th>
            <th width="80">单价(元)</th>
            <th>单位</th>
            <th>描述</th>
            <th width="92" class="text-center">操作</th>
        </tr>
    </thead>
    <tbody class="js-list">
        {{each items as item}}
        <tr data-id="{{item.id}}">
            <td>{{item.wdCostName}}</td>
            <td>{{item.wdPrice}}</td>
            <td>{{item.wdUnit}}</td>
            <td>{{item.wdDesc}}</td>
            <!-- <td class="text-center act">
                <div class="btn-group more">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">更多</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="./work-add.html?id={{item.id}}">编辑</a>
                        </li>
                        <li>
                            <a href="#" class="js-del" data-id="{{item.id}}">删除</a>
                        </li>
                    </ul>
                </div>
            </td> -->
            <td class="text-center">
                <a href="./work-add.html?id={{item.id}}">编辑</a>
                <a href="#" class="js-del" data-id="{{item.id}}">删除</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div class="pages"></div>