<div class="multi-selector clean search">
    <div class="inner js-{{name}}-selector">
        {{# value}}
    </div>
    <div class="btn-search js-{{name}}-search"><i class="glyphicon glyphicon-search"></i></div>
    <div class="btn-clean js-{{name}}-clean"><i class="glyphicon glyphicon-remove-sign"></i></div>
    <input type="hidden" class="js-{{name}}-dept" value="{{dept}}">
    <input type="hidden" class="js-{{name}}-emp" value="{{emp}}">
    <input type="hidden" class="js-{{name}}-all" value="{{all}}">
</div>