<ul class="list-right">
    {{each items as item}}
    <li data-id="{{item.supplier_id}}">{{item.supplier_name}}<i class="dels"></i></li>
    {{/each}}
</ul>
<style>
    .list-right{
        margin: 0;
        padding: 0;
    }
    .list-right li{
        position: relative;
        list-style: none;
        background: #F8F9FC;
    }
    .list-right li:nth-of-type(odd){
        background: #FFFFFF;
    }
    .dels{
        background: url('images/close.png')no-repeat darkgray;
        background-size: 10px 10px;
        width: 10px;
        height: 10px;
        display: inline-block;
        cursor: pointer;
        transition: 0.5s;
        position: absolute;
        right: 8px;
        top: 5px;
        border-radius: 50%;
    }
    .dels:hover{
        transform: rotate(90deg);
    }
</style>